@model PermissionEditModel
@{
    object htmlAttributes = new { @class = "form-control" };
    if (Model.Id > 0)
    {
        htmlAttributes = new { @class = "form-control", @readonly = "true" };
    }
    string title = Model.Id > 0 ? "编辑权限" : "添加权限";
}
<div class="ibox-content">
    @using (Ajax.BeginForm("EditPermission", "Admin", null, new AjaxOptions { OnSuccess = "OnSuccessCallBack" }, new { @class = "form-horizontal" }))
    {
        @Html.HiddenFor(n => n.Id)
        <div class="box-body">
            <div class="form-group">
                @Html.LabelFor(n => n.Name, new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(n => n.Name, htmlAttributes)
                    @Html.ValidationMessageFor(n => n.Name)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(n => n.Description, new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(n => n.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(n => n.Description)
                </div>
            </div>
        </div>
        <div class="layer-btn">
            <button type="button" class="btn btn-default btn-sm pull-right" cancel>取消</button>
            <button type="submit" class="btn btn-primary btn-sm pull-right">提交</button>
        </div>
    }
</div>
<script type="text/javascript">
    window.title = "@title";
</script>
